fastapi
uvicorn
httpx
psycopg2-binary
psycopg[binary]
psycopg-pool
proxmoxer
requests
cryptography
slowapi
python-jose[cryptography]
bcrypt>=4.0.0
python-multipart
ldap3>=2.9.1
alembic
redis
Pillow>=10.0.0
